[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	action = rebase if necessary
[access "refs/*"]
	owner = group riken
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/masamichitakagi
	label-Verified = -1..+1 group user/masamichitakagi
	push = group riken
	read = group riken
	rebase = group riken
	removeReviewer = group riken
	submit = group riken
[access "refs/heads/*"]
	create = group riken
	push = group riken
	pushMerge = group riken
	read = group riken
[access "refs/tags/*"]
	push = group riken
	delete = group riken
	read = group riken
[receive]
	requireChangeId = true
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
